{% extends 'base.html' %}
{% block title %}New Playlist{% endblock %}
{% block content %}

<h1>Add a form that when submitted creates a new playlist!</h1>

<form action='/playlists/add' method="POST">

    <div class="row">
        <label for="name" class="col">Name</label>
        <div>
            <input type="text" id="name" name="name">
        </div>
    </div>
    
    <div class="row">
        <label for="description" class="col">Description</label>
        <div>
            <textarea id="description" name="description"></textarea>
        </div>
    </div>
    
    <div class="row">
        <div>
            <a href="/playlists" class="btn">Cancel</a>
            <button type="submit" class="btn">Add</button>
        </div>
    </div>
    
    </form>

{% endblock %}