{% extends 'base.html' %}
{% block title %}{{ song.title }}{% endblock %}
{% block content %}



<div class="container mt-4">
  <div class="jumbotron">
    <h1>{{ song.title }}</h1>
    <p class="lead">{{ song.artist }}</p>
  </div>

  <h2>Playlists with {{ song.title }}</h2>
  <ul class="list-group">
    {% for playlist in playlists %}
      {% if song in playlist.songs %}
        <li class="list-group-item">{{ playlist.name }}</li>
      {% endif %}
    {% endfor %}
  </ul>
</div>


{% endblock %}